In [1]:
import pandas as pd
# data frames

In [9]:
x = pd.DataFrame({"fruits":["apple","mango","banana"],"cost":[100,180,60]})
print(x)
print(type(x))
print(len(x))

   fruits  cost
0   apple   100
1   mango   180
2  banana    60
<class 'pandas.core.frame.DataFrame'>
3

In [10]:
x = pd.DataFrame({"fruits":["apple","mango","banana","litchi"],"cost":[100,180,60,80]},index =["a","b","c","d"])
print(x)
print(x.index)

   fruits  cost
a   apple   100
b   mango   180
c  banana    60
d  litchi    80
Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
x = pd.DataFrame({"name":["akash","mukesh","binni","laxman"],"marks":[80,60,70,50]},index =["1","2","3","4"])
print(x)
print(x.index)

     name  marks
1   akash     80
2  mukesh     60
3   binni     70
4  laxman     50
Index(['1', '2', '3', '4'], dtype='object')

In [12]:
x = pd.DataFrame({"one":["10.45","45.56","55.55","33.33"],"two":[10,18,36,25]},index =["a","b","c","d"])
print(x)
print(x.index)

     one  two
a  10.45   10
b  45.56   18
c  55.55   36
d  33.33   25
Index(['a', 'b', 'c', 'd'], dtype='object')

In [13]:
x = pd.DataFrame({"fruits":["apple","mango","banana","litchi"],"cost":[100,180,60,80],"quality":["good for health","sweet","yummy","delicious"]},index =["a","b","c","d"])
print(x)
print(x.index)

   fruits  cost          quality
a   apple   100  good for health
b   mango   180            sweet
c  banana    60            yummy
d  litchi    80        delicious
Index(['a', 'b', 'c', 'd'], dtype='object')

In [15]:
x = pd.DataFrame({"fruits":["apple","mango","banana","litchi"],"cost":[100,180,60,80],"quality":["good for health","sweet","yummy","delicious"]},index =["a","b","c","d"],columns =["quality","fruits","cost"])
print(x)

           quality  fruits  cost
a  good for health   apple   100
b            sweet   mango   180
c            yummy  banana    60
d        delicious  litchi    80

In [2]:
x = pd.DataFrame({"name":["ram","shyam","sita","gita","pappu","gabbar","pk","rancho"],"marks":[55,30,98,57,33,20,72,84],"result":["pass","fail","pass","pass","pass","fail","pass","pass"]},index=["a","b","c","d","e","f","g","h"])
print(x)

     name  marks result
a     ram     55   pass
b   shyam     30   fail
c    sita     98   pass
d    gita     57   pass
e   pappu     33   pass
f  gabbar     20   fail
g      pk     72   pass
h  rancho     84   pass

In [3]:
print(x.head())

    name  marks result
a    ram     55   pass
b  shyam     30   fail
c   sita     98   pass
d   gita     57   pass
e  pappu     33   pass

In [4]:
print(x.tail())

     name  marks result
d    gita     57   pass
e   pappu     33   pass
f  gabbar     20   fail
g      pk     72   pass
h  rancho     84   pass

In [5]:
print(x.head(6))

     name  marks result
a     ram     55   pass
b   shyam     30   fail
c    sita     98   pass
d    gita     57   pass
e   pappu     33   pass
f  gabbar     20   fail

In [6]:
print(x.shape)

(8, 3)

In [7]:
print(x.describe())

          marks
count   8.00000
mean   56.12500
std    27.53407
min    20.00000
25%    32.25000
50%    56.00000
75%    75.00000
max    98.00000

In [8]:
# the difference b/w ..iloc and .iloc method  is we passed index in the .iloc method and we passed the coloumn
# names in the .loc method and all values are the inclusive.

In [9]:
# use of .iloc[]
# how we can extract values from data sets,rows wise or column wise

In [10]:
z = x.iloc[0:3,0:2]  # first parameter represent the rows, and second parameter represent
print(z)

    name  marks
a    ram     55
b  shyam     30
c   sita     98