In [1]:

import pandas as pd

In [8]:
# series is a one dimension array
# series is denote with capital letter
x = pd.Series([25,24,26,27,28])  
print(x)
print(type(x))

0    25
1    24
2    26
3    27
4    28
dtype: int64
<class 'pandas.core.series.Series'>

In [9]:
x = pd.Series(["abc","def","ghi","jkl"])
print(x)
print(type(x))
print(len(x))

0    abc
1    def
2    ghi
3    jkl
dtype: object
<class 'pandas.core.series.Series'>
4

In [10]:
x = pd.Series([24j,45j,78j])
print(x)
print(type(x))

0    0.0+24.0j
1    0.0+45.0j
2    0.0+78.0j
dtype: complex128
<class 'pandas.core.series.Series'>

In [12]:
x =pd.Series([1,2,"a","b",2.13,7j,True,False,1,2])
print(x)

0        1
1        2
2        a
3        b
4     2.13
5       7j
6     True
7    False
8        1
9        2
dtype: object

In [14]:
# lable
x = pd.Series([1,2,3,4,5])
print(x[4])

5

In [15]:
x = pd.Series([1,2,3,4,5],index =["a","b","c","d","e"])
print(x)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [16]:
x = pd.Series([1,2,3,4,5],index =["a","b","c","d","e"])
print(x["a"])

1

In [19]:
a = pd.Series([22,44,35,56,75],index =[1,2,3,4,5])
b = pd.Series([22,44,35,56,75],index =["one","two","three","four","five"])
print(a)
print(a.dtype)
print(a.index)
print(b)
print(b.dtype)
print(b.index)

1    22
2    44
3    35
4    56
5    75
dtype: int64
int64
Int64Index([1, 2, 3, 4, 5], dtype='int64')
one      22
two      44
three    35
four     56
five     75
dtype: int64
int64
Index(['one', 'two', 'three', 'four', 'five'], dtype='object')

In [20]:
import numpy as np

In [21]:
x = pd.Series(np.random.randint(100,1000,5), index = ["a","b","c","d","e"])
print(x)

a    766
b    939
c    146
d    456
e    355
dtype: int32

In [32]:
x = pd.Series(np.random.randint(15), index = ["a","b","c","d","e"])
print(x)
print(x.index)
print(x.dtype)

a    9
b    9
c    9
d    9
e    9
dtype: int64
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
int64

In [33]:
x = pd.Series(np.random.randint(2))
print(x)
print(x.index)
print(x.dtype)

0    1
dtype: int64
RangeIndex(start=0, stop=1, step=1)
int64

In [34]:
# series can be initiaed from dicts
# series object from dictionary

x = pd.Series({"a":10,"b":20,"c":30})
print(x)

a    10
b    20
c    30
dtype: int64

In [3]:
import pandas as pd

In [4]:
x = pd.Series([1,2,3,4,5], index =["first","second","third","fourth","fifth"])
print(x)

first     1
second    2
third     3
fourth    4
fifth     5
dtype: int64

In [5]:
x = pd.Series({"first":1,"second":2,"third":3,"fourth":4})
print(x)

first     1
second    2
third     3
fourth    4
dtype: int64

In [7]:
x = pd.Series({'a':10,"b":20,"c":30,"d":40})
print(x)

a    10
b    20
c    30
d    40
dtype: int64

In [9]:
student = pd.Series({"name":"abc","age":30,"roll no":15})
print(student)

name       abc
age         30
roll no     15
dtype: object

In [23]:
# changing index position
# they can denote value float if any variable not define
x = pd.Series({"a":10,"b":20,"c":30},index = {"b","a","d","c"} )
print(x)

d     NaN
c    30.0
b    20.0
a    10.0
dtype: float64

In [25]:
x = pd.Series((1,2,3,4,5),index =(1,2,3,4,5))
print(x)

1    1
2    2
3    3
4    4
5    5
dtype: int64

In [ ]:
# series can be instantiated from tuple()

In [26]:
x =pd.Series([34,45,55,79,98,89])
print(x[1])
print(x[::-1])
print(x[-3:])

45
5    89
4    98
3    79
2    55
1    45
0    34
dtype: int64
3    79
4    98
5    89
dtype: int64

In [29]:
x =pd.Series([34,45,55,79,98,89])
print(x[-3:-5:-1])

3    79
2    55
dtype: int64

In [44]:
x =pd.Series([34,45,55,79,98,89],index =["a","b","c","d","e","f"])
print(x["b"])
print(x["b":"d"])
print(x["b":])
print(x["c":])

45
b    45
c    55
d    79
dtype: int64
b    45
c    55
d    79
e    98
f    89
dtype: int64
c    55
d    79
e    98
f    89
dtype: int64

In [48]:
print(x["f":"a":-1])

f    89
e    98
d    79
c    55
b    45
a    34
dtype: int64

In [4]:
x = ["sun","mon","tues","wed","thrus","fri","sat"]
print(x[-1::-2])

['sat', 'thrus', 'tues', 'sun']

In [51]:
x1 =pd.Series([10,20,30,40,50,60,70])
x2 =pd.Series([10,20,30,40,50,60,70])
x = x1+x2
y =  x1*x2
z = x1/x2

print(x)
print(y)
print(z)

0     20
1     40
2     60
3     80
4    100
5    120
6    140
dtype: int64
0     100
1     400
2     900
3    1600
4    2500
5    3600
6    4900
dtype: int64
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
dtype: float64

In [52]:
x1 =pd.Series([10,20,30,40,50,60,70])
x2 =pd.Series([10,20,30,40])
x = x1+x2
y =  x1*x2
z = x1/x2

print(x)
print(y)
print(z)

0    20.0
1    40.0
2    60.0
3    80.0
4     NaN
5     NaN
6     NaN
dtype: float64
0     100.0
1     400.0
2     900.0
3    1600.0
4       NaN
5       NaN
6       NaN
dtype: float64
0    1.0
1    1.0
2    1.0
3    1.0
4    NaN
5    NaN
6    NaN
dtype: float64

In [53]:
x1=pd.Series([10,20,30,40,50])
print(x1+5)

0    15
1    25
2    35
3    45
4    55
dtype: int64

In [54]:
print(x1-2)
print(x1*2)
print()

0     8
1    18
2    28
3    38
4    48
dtype: int64
0     20
1     40
2     60
3     80
4    100
dtype: int64

In [ ]:
im