In [1]:
import pandas as pd

In [2]:
x=pd.Series(["Akash","Amit","Babu Bhai","shaktiman","pk","rancho"])
print(x.str.lower())

0        akash
1         amit
2    babu bhai
3    shaktiman
4           pk
5       rancho
dtype: object

In [3]:
print(x.str.upper())

0        AKASH
1         AMIT
2    BABU BHAI
3    SHAKTIMAN
4           PK
5       RANCHO
dtype: object

In [4]:
print(x.str.len())

0    5
1    4
2    9
3    9
4    2
5    6
dtype: int64

In [6]:
print(len(x))

6

In [7]:
# strip

In [8]:
a=pd.Series(["   Akash",   "Amit",   "Babu Bhai",   "shaktiman","pk","rancho"])
print(a)

0        Akash
1         Amit
2    Babu Bhai
3    shaktiman
4           pk
5       rancho
dtype: object

In [10]:
print(a.str.strip())

0        Akash
1         Amit
2    Babu Bhai
3    shaktiman
4           pk
5       rancho
dtype: object

In [11]:
# split

In [12]:
print(a.str.split())

0         [Akash]
1          [Amit]
2    [Babu, Bhai]
3     [shaktiman]
4            [pk]
5        [rancho]
dtype: object

In [14]:
# use of cat(sep = pattern)
# concatenates the series/index elements with given seperator.

In [15]:
x=pd.Series(["Akash","Amit","Babu Bhai","shaktiman","pk","rancho"])
print(x.str.cat(sep =" ** "))

Akash ** Amit ** Babu Bhai ** shaktiman ** pk ** rancho

In [16]:
# use of contains(',')
# returns a boolean value True for each element if the substring contains in  the element,else false:

In [18]:
x=pd.Series(["Akash","Amit","Babu Bhai","shaktiman","pk","rancho"])
print(x.str.contains("bu"))

0    False
1    False
2     True
3    False
4    False
5    False
dtype: bool

In [19]:
# use of replace

In [20]:
x=pd.Series(["Akash","Amit","Babu Bhai","shaktiman","pk","rancho"])
print(x.str.replace('Am','sum'))

0        Akash
1        sumit
2    Babu Bhai
3    shaktiman
4           pk
5       rancho
dtype: object

In [39]:
# use of repeat(values)
x=pd.Series(["Akash ","Amit ","Babu Bhai ","shaktiman ","pk ","rancho "])

print(x.str.repeat(3))

0                Akash Akash Akash
1                   Amit Amit Amit
2    Babu Bhai Babu Bhai Babu Bhai
3    shaktiman shaktiman shaktiman
4                         pk pk pk
5             rancho rancho rancho
dtype: object

In [34]:
# count

In [35]:
x=pd.Series(["Akash ","Amit ","Babu Bhai ","shaktiman ","pk ","rancho "])
print(x.str.count("A"))

0    1
1    1
2    0
3    0
4    0
5    0
dtype: int64

In [38]:
 print(x.str.count("Am"))

0    0
1    1
2    0
3    0
4    0
5    0
dtype: int64

In [44]:
# use of ends with (pattern)

x=pd.Series(["Akash","Amit","Babu Bhai","shaktiman","pk","rancho"])
print(x.str.startswith("A"))
print(x.str.startswith("s"))

0     True
1     True
2    False
3    False
4    False
5    False
dtype: bool
0    False
1    False
2    False
3     True
4    False
5    False
dtype: bool

In [45]:
#  use of end with (pattern)
# 
print(x.str.endswith("i"))

0    False
1    False
2     True
3    False
4    False
5    False
dtype: bool

In [50]:
# use of find patter
# find(pattern): returns the first position of the first occurrence of the pattern
# "-1" denoted that there is no such pattern available in the element


z=pd.Series(["Akash","Amit","Babu Bhai","shaktiman","pk","ranocho"])
print(z.str.find("k"))
print(z.str.find("o"))

0    1
1   -1
2   -1
3    3
4    1
5   -1
dtype: int64
0   -1
1   -1
2   -1
3   -1
4   -1
5    3
dtype: int64

In [51]:
# use of findal method
# return a list of all occurance of the pattern

In [52]:
x=pd.Series(["Akash","Amit","Babu Bhai","shaktiman","pk","rancho"])
print(x.str.findall("m"))

0     []
1    [m]
2     []
3    [m]
4     []
5     []
dtype: object

In [53]:
# swap case
#  swap the case lower to upper and upper to lower

In [54]:
x=pd.Series(["Akash","Raju","Babu Bhai","shaktiman","pk","ram"])
print(x.str.swapcase())

0        aKASH
1         rAJU
2    bABU bHAI
3    SHAKTIMAN
4           PK
5          RAM
dtype: object

In [55]:
# isupper()
# check whether all character in each string in the series/index in upper case or not
# return boolean

In [57]:
x=pd.Series(["Akash","Amit","Babu Bhai","shaktiman","PK","rancho"])
print(x.str.isupper())

0    False
1    False
2    False
3    False
4     True
5    False
dtype: bool

In [ ]:
a = [10,20,30,40,50]
b = input()
while b:
    if b == "done":
        break
print(a[b])