In [1]:
import pandas as pd

In [5]:
a=  pd.DataFrame({"hindi":[45,78,58,89,56],"english":[75,78,89,85,98],"sankskrit":[78,55,89,45,35]})
print(a)

   hindi  english  sankskrit
0     45       75         78
1     78       78         55
2     58       89         89
3     89       85         45
4     56       98         35
           hindi    english  sankskrit
count   5.000000   5.000000   5.000000
mean   65.200000  85.000000  60.400000
std    17.852171   9.137833  22.578751
min    45.000000  75.000000  35.000000
25%    56.000000  78.000000  45.000000
50%    58.000000  85.000000  55.000000
75%    78.000000  89.000000  78.000000
max    89.000000  98.000000  89.000000

In [6]:
a.describe()

           hindi    english  sankskrit
count   5.000000   5.000000   5.000000
mean   65.200000  85.000000  60.400000
std    17.852171   9.137833  22.578751
min    45.000000  75.000000  35.000000
25%    56.000000  78.000000  45.000000
50%    58.000000  85.000000  55.000000
75%    78.000000  89.000000  78.000000
max    89.000000  98.000000  89.000000

In [8]:
a=  pd.DataFrame({"hindi":[45,78,58,89,56],"english":[75,78,89,85,98],"sankskrit":[78,55,89,45,35]})
a.to_csv("sonu.csv")

In [10]:
a.to_csv("dabbie_index_false.csv", index = False)

In [12]:
b= a.head(10)
b

   hindi  english  sankskrit
0     45       75         78
1     78       78         55
2     58       89         89
3     89       85         45
4     56       98         35

In [14]:
a.shape

(5, 3)

In [15]:
z = a.loc[0]
z

hindi        45
english      75
sankskrit    78
Name: 0, dtype: int64

In [19]:
x= a.iloc[0:2,0:1]
x

   hindi
0     45
1     78

In [22]:
z = pd.read_csv("heropanti.csv")
z

   hindi  english  sankskrit   city
0     45       75         78     mp
1     78       78         55     up
2     58       89         89     hp
3     89       85         45     ap
4     56       98         35  delhi
5     45       67         98     uk
6     58       78         76    goa

In [23]:
z =z["city"]
z

0       mp
1       up
2       hp
3       ap
4    delhi
5       uk
6      goa
Name: city, dtype: object

In [31]:

z = pd.read_csv("heropanti.csv")
b =z["english"][1]
b

78

In [38]:
z = pd.read_csv("heropanti.csv")
z.index =['a','b','c','d','e','f','h']
print(z)

   hindi  english  sankskrit   city
a     45       75         78     mp
b     78       78         55     up
c     58       89         89     hp
d     89       85         45     ap
e     56       98         35  delhi
f     45       67         98     uk
h     58       78         76    goa

In [40]:
import numpy as np
x = pd.Series(np.random.rand(44))
print(type(x))

<class 'pandas.core.series.Series'>

In [41]:
z = pd.DataFrame(np.random.rand(500,100),index =np.arange(500))
print(z)
x =z.head()
x

           0         1         2         3         4         5         6   \
0    0.675861  0.224890  0.434398  0.397485  0.076207  0.267662  0.625025
1    0.728686  0.886539  0.972667  0.331011  0.772618  0.206352  0.036236
2    0.479794  0.535506  0.336578  0.837958  0.423508  0.724205  0.796765
3    0.638898  0.869372  0.964845  0.178835  0.390787  0.432418  0.803287
4    0.533508  0.815014  0.926971  0.095714  0.038631  0.584938  0.659204
..        ...       ...       ...       ...       ...       ...       ...
495  0.792949  0.508453  0.949109  0.928667  0.239631  0.163476  0.509159
496  0.234630  0.301906  0.769124  0.164305  0.384487  0.668778  0.965143
497  0.692471  0.372238  0.307660  0.929281  0.963631  0.094526  0.300838
498  0.110410  0.160168  0.074866  0.235839  0.402829  0.415613  0.784941
499  0.686131  0.069003  0.135144  0.660494  0.064374  0.883264  0.830213

           7         8         9   ...        90        91        92  \
0    0.110299  0.181265  0.025368  ...  0.168642  0.450525  0.437904
1    0.748141  0.136707  0.004948  ...  0.110927  0.320650  0.578941
2    0.745072  0.602594  0.626155  ...  0.509590  0.161658  0.315106
3    0.190691  0.919514  0.795673  ...  0.282422  0.780561  0.911284
4    0.329270  0.872651  0.948119  ...  0.802334  0.626670  0.001388
..        ...       ...       ...  ...       ...       ...       ...
495  0.797259  0.879178  0.567189  ...  0.376318  0.748757  0.471532
496  0.535359  0.274543  0.327028  ...  0.507141  0.801123  0.518321
497  0.666015  0.583490  0.234982  ...  0.358350  0.537310  0.162783
498  0.825982  0.430260  0.644925  ...  0.852544  0.062535  0.261301
499  0.079697  0.394378  0.817409  ...  0.543417  0.103649  0.368839

           93        94        95        96        97        98        99
0    0.224112  0.419678  0.034824  0.592792  0.987060  0.647810  0.117841
1    0.917605  0.468738  0.258259  0.686058  0.657183  0.925661  0.639785
2    0.589323  0.405760  0.739547  0.364024  0.367958  0.259078  0.094881
3    0.127184  0.420305  0.769557  0.562112  0.394230  0.811479  0.812043
4    0.257501  0.552146  0.577360  0.151920  0.932063  0.150548  0.146619
..        ...       ...       ...       ...       ...       ...       ...
495  0.668969  0.545273  0.856795  0.935607  0.926461  0.686089  0.724525
496  0.943438  0.682038  0.029365  0.020216  0.958851  0.169097  0.422320
497  0.410556  0.949528  0.245136  0.587066  0.183922  0.872234  0.932378
498  0.292565  0.250068  0.226237  0.942660  0.329631  0.677861  0.444396
499  0.546637  0.293357  0.612522  0.340219  0.588438  0.582245  0.566359

[500 rows x 100 columns]

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.675861,0.224890,0.434398,0.397485,0.076207,0.267662,0.625025,0.110299,0.181265,0.025368,...,0.168642,0.450525,0.437904,0.224112,0.419678,0.034824,0.592792,0.987060,0.647810,0.117841
1,0.728686,0.886539,0.972667,0.331011,0.772618,0.206352,0.036236,0.748141,0.136707,0.004948,...,0.110927,0.320650,0.578941,0.917605,0.468738,0.258259,0.686058,0.657183,0.925661,0.639785
2,0.479794,0.535506,0.336578,0.837958,0.423508,0.724205,0.796765,0.745072,0.602594,0.626155,...,0.509590,0.161658,0.315106,0.589323,0.405760,0.739547,0.364024,0.367958,0.259078,0.094881
3,0.638898,0.869372,0.964845,0.178835,0.390787,0.432418,0.803287,0.190691,0.919514,0.795673,...,0.282422,0.780561,0.911284,0.127184,0.420305,0.769557,0.562112,0.394230,0.811479,0.812043
4,0.533508,0.815014,0.926971,0.095714,0.038631,0.584938,0.659204,0.329270,0.872651,0.948119,...,0.802334,0.626670,0.001388,0.257501,0.552146,0.577360,0.151920,0.932063,0.150548,0.146619

In [43]:
x.dtypes

0     float64
1     float64
2     float64
3     float64
4     float64
       ...
95    float64
96    float64
97    float64
98    float64
99    float64
Length: 100, dtype: object

In [47]:
x[0][1] = "pihu"

x[1][2] = 8997
print(x)

         0            1         2         3         4         5         6   \
0  0.675861     0.224890  0.434398  0.397485  0.076207  0.267662  0.625025
1      pihu     0.886539  0.972667  0.331011  0.772618  0.206352  0.036236
2  0.479794  8997.000000  0.336578  0.837958  0.423508  0.724205  0.796765
3  0.638898     0.869372  0.964845  0.178835  0.390787  0.432418  0.803287
4  0.533508     0.815014  0.926971  0.095714  0.038631  0.584938  0.659204

         7         8         9   ...        90        91        92        93  \
0  0.110299  0.181265  0.025368  ...  0.168642  0.450525  0.437904  0.224112
1  0.748141  0.136707  0.004948  ...  0.110927  0.320650  0.578941  0.917605
2  0.745072  0.602594  0.626155  ...  0.509590  0.161658  0.315106  0.589323
3  0.190691  0.919514  0.795673  ...  0.282422  0.780561  0.911284  0.127184
4  0.329270  0.872651  0.948119  ...  0.802334  0.626670  0.001388  0.257501

         94        95        96        97        98        99
0  0.419678  0.034824  0.592792  0.987060  0.647810  0.117841
1  0.468738  0.258259  0.686058  0.657183  0.925661  0.639785
2  0.405760  0.739547  0.364024  0.367958  0.259078  0.094881
3  0.420305  0.769557  0.562112  0.394230  0.811479  0.812043
4  0.552146  0.577360  0.151920  0.932063  0.150548  0.146619

[5 rows x 100 columns]

C:\Users\acer\AppData\Local\Temp\ipykernel_7020\1814846915.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[0][1] = "pihu"
C:\Users\acer\AppData\Local\Temp\ipykernel_7020\1814846915.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[1][2] = 8997

In [49]:
# change to numpy array
c =x.to_numpy()
print(c)

[[0.6758606328195661 0.22488956134844285 0.4343978425014561
  0.39748483720542604 0.07620668856904456 0.2676615193789299
  0.625024836122366 0.11029860038193451 0.18126464478374638
  0.025367704073422814 0.010439149288004379 0.2644066525793479
  0.8689771686354307 0.15135251053678345 0.4205310640552169
  0.7085129730305622 0.8806324270286564 0.49128840590067446
  0.4478943034033105 0.20787257765143097 0.8768244855851919
  0.7348089310753676 0.4257192634271195 0.5783955303457591
  0.6501886339936783 0.43897013475695734 0.2093672425527543
  0.43597031375056894 0.7329904937816842 0.11668702822122567
  0.6809712679579705 0.3626463489613392 0.7541806508999092
  0.12149950251126407 0.6993870885265532 0.084352944366344
  0.8480858303246878 0.8144488883213293 0.419507704361204
  0.2745135276154247 0.6645450213716888 0.8660769788449976
  0.6587419947977232 0.9952872460685888 0.17766200420870948
  0.7225287278485264 0.3164383903065707 0.3473229406513604
  0.6262219303502069 0.10602907002133799 0.6934378257895464
  0.4590332507618392 0.6171931038108384 0.7909420039004252
  0.016767912355604375 0.39932804642412634 0.6977728799947008
  0.4719731660811559 0.4824484812784724 0.6966787375625568
  0.1060282300021902 0.09098764235850643 0.2604666095161221
  0.7190233008574397 0.45530968315594544 0.06031790989189134
  0.6811133305005223 0.6701866028729762 0.23765595776529325
  0.27944041566466093 0.09737980923041112 0.709503188073443
  0.6215837409779421 0.40407383798325824 0.9566589645367556
  0.4149678043024324 0.45431806760442495 0.21397808584549582
  0.5106979515722798 0.12655796397562624 0.06337269797551859
  0.9096853968423422 0.631551237765505 0.030273912662663327
  0.2869186208707699 0.3607501364388228 0.6972322263701475
  0.40316360478303304 0.7754162774534451 0.23058240220786264
  0.16864167275994724 0.4505248025317331 0.43790370283356983
  0.22411226015216257 0.41967837573392974 0.03482356437685363
  0.5927919103933449 0.9870596557112981 0.6478104432100292
  0.11784107593729043]
 ['pihu' 0.8865393584601934 0.9726668328400777 0.3310109178029502
  0.7726178567670586 0.20635185736256723 0.03623643488423656
  0.7481405565008573 0.13670714197828404 0.0049480149894622905
  0.14475047073503555 0.26172986605361803 0.7037361205779914
  0.856412626756767 0.8433949706764307 0.03898991215449987
  0.8511141744406927 0.3717415909800461 0.6524286463516277
  0.5364546880042702 0.004775461313733964 0.4228242290490568
  0.6568151544125276 0.06395799187679352 0.3073418138074776
  0.2445008555099063 0.5289783554959596 0.6208203885127275
  0.33718826256774037 0.7893096887894395 0.41167620938729144
  0.9258727554469235 0.6640826037174042 0.07673948913617024
  0.5045713915418875 0.32031248094741016 0.25199290676316244
  0.06313486477598296 0.2539436440080358 0.5706765820475496
  0.6855802909080391 0.5066391435481762 0.2723490534643488
  0.15086331701363953 0.9608332090732763 0.9260596814691888
  0.4491768165620059 0.5577065013440857 0.9639155095505735
  0.6690702305940526 0.6599772159569979 0.2937038082550759
  0.8195132347565193 0.24107251790288764 0.934877284912196
  0.08888655900621623 0.6484895806211731 0.4984309081003496
  0.6016023895546516 0.04304899636945536 0.09293093334354297
  0.44070803366901945 0.838370541110968 0.5159798740545357
  0.3779997880736523 0.5992331092657638 0.188349566685444
  0.10320089378830721 0.22589393098978827 0.6562653503597363
  0.9241667766949284 0.297379226845891 0.7599922338173795
  0.5311684543216516 0.9630496905367469 0.034228977285925
  0.1136382589096232 0.04579010837339981 0.08899955207109977
  0.00793907090670154 0.06082314779655962 0.20214648976684113
  0.023688810370698365 0.2465335182008216 0.7010832323375896
  0.28705855009770187 0.6043110551681021 0.5035034191577745
  0.9293175203061763 0.09724031910121123 0.11092741891062241
  0.32064976938468426 0.5789408580376315 0.9176047765794707
  0.4687380219875691 0.25825858324407247 0.6860583738331552
  0.6571834500542847 0.925660676432447 0.6397851615543704]
 [0.47979446442364415 8997.0 0.3365776484160292 0.837957598037323
  0.4235081826771072 0.7242050441469843 0.7967654223905584
  0.7450719707428971 0.6025940106850323 0.6261554807111287
  0.565591555840887 0.010696221936644101 0.551726696033568
  0.410562090562991 0.976628893542186 0.7092084336880815
  0.7798916109986308 0.3327046983320985 0.19799542151364158
  0.40234550470939356 0.04319395943899873 0.7418003503890692
  0.6775060229791162 0.7946292074158046 0.4010825000467264
  0.07243178473845147 0.17076072424302569 0.5145401529699813
  0.8204734386728635 0.21166669688852324 0.3112307041939183
  0.8516525822619334 0.2314599842156616 0.029474042383195842
  0.19398027832424547 0.4429664171904807 0.8518066951736292
  0.8071717252059453 0.4108823149520039 0.6510700717116529
  0.5737511478336355 0.7923204091289187 0.41281589690683484
  0.4493953493807088 0.6447253354697714 0.165232688474083
  0.9809104737569642 0.6957553982161739 0.4448079061483463
  0.17889557035880854 0.4682506873145126 0.846373194282368
  0.4613773488757972 0.18133409093780983 0.5005821247415608
  0.9661412729310411 0.18505836164065215 0.4475868238152545
  0.989969287603748 0.12750115689141683 0.6413853790662563
  0.48741159945414225 0.40681836572351204 0.471432248800398
  0.5936772680086622 0.920458444188165 0.06733360353766771
  0.8551846361653337 0.4882602771018303 0.09211341646213222
  0.7169905948871578 0.3969919681367149 0.02197620692996749
  0.8364722186726958 0.32256821486970433 0.1735828857737397
  0.08216930513438447 0.017979921646908537 0.1040350264033354
  0.019639059503109735 0.6320690151785965 0.3373957502340855
  0.25734050905041905 0.8974846825317548 0.5574580776303857
  0.43961317683841294 0.369337013239204 0.007881526720910137
  0.6465941540607443 0.40146534136625167 0.5095896840928164
  0.16165844605639657 0.31510647130736213 0.5893232202564135
  0.4057596363122751 0.7395472580371618 0.3640244251009386
  0.3679581049066968 0.25907767470936394 0.094880675581692]
 [0.6388984341928882 0.8693722031188135 0.9648447241418946
  0.17883546789554672 0.3907867400636559 0.43241840769521944
  0.8032869038743565 0.19069136055032887 0.9195144228916583
  0.7956734867329639 0.4129994819620829 0.17389613320218655
  0.3705164719498374 0.43774032262640983 0.7673316459535847
  0.7524883939553165 0.9128306502716298 0.17317366835676706
  0.8929495867802414 0.21665835257282506 0.5490050272842518
  0.6872597767385527 0.7428954813399266 0.06668041873966968
  0.2047800857228964 0.6521309852971788 0.5801192272540484
  0.016076407496731004 0.6102915721645463 0.30826980591597186
  0.9918333120479308 0.8797960124891672 0.7665003169178445
  0.7496014671779998 0.3572822307669685 0.9177357431064732
  0.7946964720747242 0.43654079364753196 0.8191257282173342
  0.9741500508215565 0.8597169978389195 0.9053325251672011
  0.1828368861112608 0.5969260966208695 0.7991957887077606
  0.5966249632086396 0.16974821402649365 0.37306354985459134
  0.7552617608410911 0.9556589674009661 0.15348799056639528
  0.4327812825035734 0.42570652668104836 0.4698833894455203
  0.31651610293502297 0.6407393000315563 0.03203341414993177
  0.6622588679480508 0.5823111020147446 0.8411252657636927
  0.04631978105265977 0.8164274665554578 0.08492165287949671
  0.9650997438143109 0.5550941534409857 0.6192260774040788
  0.645245536154604 0.018567405454330776 0.6434083295400587
  0.10327496150716753 0.7186423582762198 0.506409908099739
  0.021637129104004393 0.9047489194442644 0.08862504246639025
  0.15438105447719153 0.6855257849717793 0.1822826292681996
  0.2733383657715658 0.691543971634417 0.43085647832171403
  0.029484255301967077 0.9450589709693873 0.017635698321888382
  0.032901269476452444 0.1740525083407074 0.37387769548051863
  0.7675624015889039 0.056599798222362496 0.37555831813470963
  0.28242176930354723 0.7805609519186998 0.911284432302011
  0.12718370427258052 0.42030502463390895 0.7695568582765794
  0.5621121404986941 0.3942304609050691 0.8114786252974553
  0.8120428622813124]
 [0.5335081313983249 0.8150140313765017 0.9269706743230297
  0.09571423575733828 0.03863113408825458 0.5849384297263351
  0.6592037492502875 0.3292697483450099 0.8726506077621069
  0.9481192142780963 0.1087946344760169 0.39531869402767594
  0.02631914885737141 0.720129462704124 0.30011925421349683
  0.9122806478581547 0.20860854470089563 0.36424409141397496
  0.05755844703297963 0.29355555183109816 0.8924653773240654
  0.4317415097785354 0.891585919727628 0.12423187874255193
  0.3724907398563174 0.5272161302355497 0.952960382040464
  0.8112129925561301 0.0953999844829978 0.23755234306724426
  0.7052675597722401 0.6871889023846164 0.7063555495319388
  0.7531733372378109 0.6445066859439426 0.20081829057874834
  0.5153512634698123 0.8213261485048666 0.6889372617182461
  0.9989041439683793 0.7876817217385067 0.35537721852950244
  0.3784305555842813 0.1772042174421612 0.5028577402383637
  0.12444687538006283 0.03441123406870217 0.7232245435740194
  0.800503095185593 0.9544805108204572 0.028493880193672716
  0.7316729588674749 0.23891213748362905 0.5485409332559723
  0.020654418842603994 0.1787594473397226 0.21427094625230747
  0.20879225864680973 0.5536429467539377 0.18666855889065737
  0.30006033577077584 0.9600362075209358 0.9143469036868099
  0.5250295081323081 0.5121198671993508 0.09887397117230079
  0.012853552692867698 0.9564374546276252 0.5627059455050533
  0.22498257818875533 0.7525769141712516 0.09418161702593597
  0.08633623856480577 0.4961728756252125 0.46426261339275365
  0.2920002599684164 0.7570187648203713 0.5984216367043127
  0.6122542001374368 0.045735031136511006 0.13547828917923943
  0.3831409458156759 0.8546715161010515 0.5751800137320493
  0.045209505185235255 0.8231575399725405 0.5856696914667
  0.21284143706799608 0.8425295330931488 0.5046272899558858
  0.8023341232016444 0.6266702853401316 0.0013877372989871128
  0.2575011306289605 0.5521462692644952 0.5773602779328818
  0.15191956307069143 0.9320628945079691 0.1505476273360672
  0.14661930375221965]]

In [51]:
x.T
x

           0         1         2         3         4
0   0.675861      pihu  0.479794  0.638898  0.533508
1    0.22489  0.886539    8997.0  0.869372  0.815014
2   0.434398  0.972667  0.336578  0.964845  0.926971
3   0.397485  0.331011  0.837958  0.178835  0.095714
4   0.076207  0.772618  0.423508  0.390787  0.038631
..       ...       ...       ...       ...       ...
95  0.034824  0.258259  0.739547  0.769557   0.57736
96  0.592792  0.686058  0.364024  0.562112   0.15192
97   0.98706  0.657183  0.367958   0.39423  0.932063
98   0.64781  0.925661  0.259078  0.811479  0.150548
99  0.117841  0.639785  0.094881  0.812043  0.146619

[100 rows x 5 columns]

In [52]:
x

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.675861,0.224890,0.434398,0.397485,0.076207,0.267662,0.625025,0.110299,0.181265,0.025368,...,0.168642,0.450525,0.437904,0.224112,0.419678,0.034824,0.592792,0.987060,0.647810,0.117841
1,pihu,0.886539,0.972667,0.331011,0.772618,0.206352,0.036236,0.748141,0.136707,0.004948,...,0.110927,0.320650,0.578941,0.917605,0.468738,0.258259,0.686058,0.657183,0.925661,0.639785
2,0.479794,8997.000000,0.336578,0.837958,0.423508,0.724205,0.796765,0.745072,0.602594,0.626155,...,0.509590,0.161658,0.315106,0.589323,0.405760,0.739547,0.364024,0.367958,0.259078,0.094881
3,0.638898,0.869372,0.964845,0.178835,0.390787,0.432418,0.803287,0.190691,0.919514,0.795673,...,0.282422,0.780561,0.911284,0.127184,0.420305,0.769557,0.562112,0.394230,0.811479,0.812043
4,0.533508,0.815014,0.926971,0.095714,0.038631,0.584938,0.659204,0.329270,0.872651,0.948119,...,0.802334,0.626670,0.001388,0.257501,0.552146,0.577360,0.151920,0.932063,0.150548,0.146619

In [53]:
x.index

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [54]:
x.columns

RangeIndex(start=0, stop=100, step=1)

In [59]:
# axis =0 for rows and axis  =1 is for columns;
x.sort_index(axis =0,ascending = False) # its sorting row  index by descending order,and by default index will be ascending order

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
4,0.533508,0.815014,0.926971,0.095714,0.038631,0.584938,0.659204,0.329270,0.872651,0.948119,...,0.802334,0.626670,0.001388,0.257501,0.552146,0.577360,0.151920,0.932063,0.150548,0.146619
3,0.638898,0.869372,0.964845,0.178835,0.390787,0.432418,0.803287,0.190691,0.919514,0.795673,...,0.282422,0.780561,0.911284,0.127184,0.420305,0.769557,0.562112,0.394230,0.811479,0.812043
2,0.479794,8997.000000,0.336578,0.837958,0.423508,0.724205,0.796765,0.745072,0.602594,0.626155,...,0.509590,0.161658,0.315106,0.589323,0.405760,0.739547,0.364024,0.367958,0.259078,0.094881
1,pihu,0.886539,0.972667,0.331011,0.772618,0.206352,0.036236,0.748141,0.136707,0.004948,...,0.110927,0.320650,0.578941,0.917605,0.468738,0.258259,0.686058,0.657183,0.925661,0.639785
0,0.675861,0.224890,0.434398,0.397485,0.076207,0.267662,0.625025,0.110299,0.181265,0.025368,...,0.168642,0.450525,0.437904,0.224112,0.419678,0.034824,0.592792,0.987060,0.647810,0.117841

In [58]:
x.sort_index(axis =0,ascending = True)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.675861,0.224890,0.434398,0.397485,0.076207,0.267662,0.625025,0.110299,0.181265,0.025368,...,0.168642,0.450525,0.437904,0.224112,0.419678,0.034824,0.592792,0.987060,0.647810,0.117841
1,pihu,0.886539,0.972667,0.331011,0.772618,0.206352,0.036236,0.748141,0.136707,0.004948,...,0.110927,0.320650,0.578941,0.917605,0.468738,0.258259,0.686058,0.657183,0.925661,0.639785
2,0.479794,8997.000000,0.336578,0.837958,0.423508,0.724205,0.796765,0.745072,0.602594,0.626155,...,0.509590,0.161658,0.315106,0.589323,0.405760,0.739547,0.364024,0.367958,0.259078,0.094881
3,0.638898,0.869372,0.964845,0.178835,0.390787,0.432418,0.803287,0.190691,0.919514,0.795673,...,0.282422,0.780561,0.911284,0.127184,0.420305,0.769557,0.562112,0.394230,0.811479,0.812043
4,0.533508,0.815014,0.926971,0.095714,0.038631,0.584938,0.659204,0.329270,0.872651,0.948119,...,0.802334,0.626670,0.001388,0.257501,0.552146,0.577360,0.151920,0.932063,0.150548,0.146619

In [61]:
x.sort_index(axis =1,ascending = False)

,99,98,97,96,95,94,93,92,91,90,...,9,8,7,6,5,4,3,2,1,0
0,0.117841,0.647810,0.987060,0.592792,0.034824,0.419678,0.224112,0.437904,0.450525,0.168642,...,0.025368,0.181265,0.110299,0.625025,0.267662,0.076207,0.397485,0.434398,0.224890,0.675861
1,0.639785,0.925661,0.657183,0.686058,0.258259,0.468738,0.917605,0.578941,0.320650,0.110927,...,0.004948,0.136707,0.748141,0.036236,0.206352,0.772618,0.331011,0.972667,0.886539,pihu
2,0.094881,0.259078,0.367958,0.364024,0.739547,0.405760,0.589323,0.315106,0.161658,0.509590,...,0.626155,0.602594,0.745072,0.796765,0.724205,0.423508,0.837958,0.336578,8997.000000,0.479794
3,0.812043,0.811479,0.394230,0.562112,0.769557,0.420305,0.127184,0.911284,0.780561,0.282422,...,0.795673,0.919514,0.190691,0.803287,0.432418,0.390787,0.178835,0.964845,0.869372,0.638898
4,0.146619,0.150548,0.932063,0.151920,0.577360,0.552146,0.257501,0.001388,0.626670,0.802334,...,0.948119,0.872651,0.329270,0.659204,0.584938,0.038631,0.095714,0.926971,0.815014,0.533508

In [63]:
x[0]

0    0.675861
1        pihu
2    0.479794
3    0.638898
4    0.533508
Name: 0, dtype: object

In [65]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 4
Data columns (total 100 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      object
 1   1       5 non-null      float64
 2   2       5 non-null      float64
 3   3       5 non-null      float64
 4   4       5 non-null      float64
 5   5       5 non-null      float64
 6   6       5 non-null      float64
 7   7       5 non-null      float64
 8   8       5 non-null      float64
 9   9       5 non-null      float64
 10  10      5 non-null      float64
 11  11      5 non-null      float64
 12  12      5 non-null      float64
 13  13      5 non-null      float64
 14  14      5 non-null      float64
 15  15      5 non-null      float64
 16  16      5 non-null      float64
 17  17      5 non-null      float64
 18  18      5 non-null      float64
 19  19      5 non-null      float64
 20  20      5 non-null      float64
 21  21      5 non-null      float64
 22  22      5 non-null      float64
 23  23      5 non-null      float64
 24  24      5 non-null      float64
 25  25      5 non-null      float64
 26  26      5 non-null      float64
 27  27      5 non-null      float64
 28  28      5 non-null      float64
 29  29      5 non-null      float64
 30  30      5 non-null      float64
 31  31      5 non-null      float64
 32  32      5 non-null      float64
 33  33      5 non-null      float64
 34  34      5 non-null      float64
 35  35      5 non-null      float64
 36  36      5 non-null      float64
 37  37      5 non-null      float64
 38  38      5 non-null      float64
 39  39      5 non-null      float64
 40  40      5 non-null      float64
 41  41      5 non-null      float64
 42  42      5 non-null      float64
 43  43      5 non-null      float64
 44  44      5 non-null      float64
 45  45      5 non-null      float64
 46  46      5 non-null      float64
 47  47      5 non-null      float64
 48  48      5 non-null      float64
 49  49      5 non-null      float64
 50  50      5 non-null      float64
 51  51      5 non-null      float64
 52  52      5 non-null      float64
 53  53      5 non-null      float64
 54  54      5 non-null      float64
 55  55      5 non-null      float64
 56  56      5 non-null      float64
 57  57      5 non-null      float64
 58  58      5 non-null      float64
 59  59      5 non-null      float64
 60  60      5 non-null      float64
 61  61      5 non-null      float64
 62  62      5 non-null      float64
 63  63      5 non-null      float64
 64  64      5 non-null      float64
 65  65      5 non-null      float64
 66  66      5 non-null      float64
 67  67      5 non-null      float64
 68  68      5 non-null      float64
 69  69      5 non-null      float64
 70  70      5 non-null      float64
 71  71      5 non-null      float64
 72  72      5 non-null      float64
 73  73      5 non-null      float64
 74  74      5 non-null      float64
 75  75      5 non-null      float64
 76  76      5 non-null      float64
 77  77      5 non-null      float64
 78  78      5 non-null      float64
 79  79      5 non-null      float64
 80  80      5 non-null      float64
 81  81      5 non-null      float64
 82  82      5 non-null      float64
 83  83      5 non-null      float64
 84  84      5 non-null      float64
 85  85      5 non-null      float64
 86  86      5 non-null      float64
 87  87      5 non-null      float64
 88  88      5 non-null      float64
 89  89      5 non-null      float64
 90  90      5 non-null      float64
 91  91      5 non-null      float64
 92  92      5 non-null      float64
 93  93      5 non-null      float64
 94  94      5 non-null      float64
 95  95      5 non-null      float64
 96  96      5 non-null      float64
 97  97      5 non-null      float64
 98  98      5 non-null      float64
 99  99      5 non-null      float64
dtypes: float64(99), object(1)
memory usage: 4.1+ KB