In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("MyDatabase.db")

In [3]:
cur = conn.cursor()

In [7]:
q = "create table if not exists student (ID int , Name varchar (40), Age int, Phy float, Chem float, Maths float);"

In [8]:
cur.execute(q)

In [9]:
conn.commit()

In [12]:
q = "insert into student values (? ,? ,? ,?, ?, ?)"

In [13]:
cur.execute(q, (1 , "Akash", 25, 45, 78, 44))

In [14]:
conn.commit()

In [15]:
cur.execute(q, (2 , "Kajal", 25, 33, 35, 37))

In [16]:
conn.commit()

In [17]:
cur.execute(q, (2 , "Kanika", 22, 50, 60, 77))
conn.commit()

In [18]:
q = "select * from student;"
cur.execute(q)

In [19]:
cur.fetchone()

(1, 'Akash', 25, 45.0, 78.0, 44.0)

In [20]:
cur.fetchone()

(2, 'Kajal', 25, 33.0, 35.0, 37.0)

In [21]:
cur.fetchone()

(2, 'Kanika', 22, 50.0, 60.0, 77.0)

In [22]:
cur.fetchall()

[]

In [23]:
q = "select * from student;"
cur.execute(q)

In [24]:
cur.fetchall()

[(1, 'Akash', 25, 45.0, 78.0, 44.0),
 (2, 'Kajal', 25, 33.0, 35.0, 37.0),
 (2, 'Kanika', 22, 50.0, 60.0, 77.0)]

In [25]:
q = "select * from student;"
cur.execute(q)

In [26]:
for data in cur:
    print(data)

(1, 'Akash', 25, 45.0, 78.0, 44.0)
(2, 'Kajal', 25, 33.0, 35.0, 37.0)
(2, 'Kanika', 22, 50.0, 60.0, 77.0)

In [27]:
dict(ID=3 , Name="Lakshay" , Age=22 , Phy=78, Chem=97 , Maths=100 )

{'ID': 3, 'Name': 'Lakshay', 'Age': 22, 'Phy': 78, 'Chem': 97, 'Maths': 100}

In [31]:
d = dict(ID=3 , Name="Lakshay" , Age=22 , Phy=78, Chem=97 , Maths=100 )
q = "insert into student values(:ID , :Name ,:Age , :Phy, :Chem, :Maths)"
cur.execute(q , d)

In [32]:
cur.execute("select * from student ;")

In [33]:
cur.fetchall()

[(1, 'Akash', 25, 45.0, 78.0, 44.0),
 (2, 'Kajal', 25, 33.0, 35.0, 37.0),
 (2, 'Kanika', 22, 50.0, 60.0, 77.0),
 (3, 'Lakshay', 22, 78.0, 97.0, 100.0)]

In [35]:
d = [(4 , "Rakesh", 25, 80, 90, 99), (5, "Tanya", 22, 85, 88, 89)]
q = "insert into student values(:ID , :Name ,:Age , :Phy, :Chem, :Maths)"
cur.executemany(q, d)
conn.commit()

In [36]:
cur.execute("select * from student ;")
cur.fetchall()

[(1, 'Akash', 25, 45.0, 78.0, 44.0),
 (2, 'Kajal', 25, 33.0, 35.0, 37.0),
 (2, 'Kanika', 22, 50.0, 60.0, 77.0),
 (3, 'Lakshay', 22, 78.0, 97.0, 100.0),
 (4, 'Rakesh', 25, 80.0, 90.0, 99.0),
 (5, 'Tanya', 22, 85.0, 88.0, 89.0),
 (4, 'Rakesh', 25, 80.0, 90.0, 99.0),
 (5, 'Tanya', 22, 85.0, 88.0, 89.0)]

In [37]:
q = "update student set Maths = 91 where Name = 'Lakshay' ;"
cur.execute(q)
conn.commit()

In [38]:
cur.execute("select * from student ;")
cur.fetchall()

[(1, 'Akash', 25, 45.0, 78.0, 44.0),
 (2, 'Kajal', 25, 33.0, 35.0, 37.0),
 (2, 'Kanika', 22, 50.0, 60.0, 77.0),
 (3, 'Lakshay', 22, 78.0, 97.0, 91.0),
 (4, 'Rakesh', 25, 80.0, 90.0, 99.0),
 (5, 'Tanya', 22, 85.0, 88.0, 89.0),
 (4, 'Rakesh', 25, 80.0, 90.0, 99.0),
 (5, 'Tanya', 22, 85.0, 88.0, 89.0)]